.u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
  min-height: 926px;
}

.u-section-1 .u-shape-1 {
  height: 556px;
  margin-top: -107px;
  margin-bottom: 0;
  background-image: linear-gradient(#f1c50e, #2cccc4);
}

.u-section-1 .u-layout-wrap-1 {
  width: 1200px;
  margin: -388px auto 60px calc(((100% - 1140px) / 2) + -60px);
}

.u-section-1 .u-image-1 {
  min-height: 805px;
  background-image: url("images/IMG202102120838302.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 833px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  line-height: 2;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 20px 0 40px;
}

.u-section-1 .u-text-2 {
  margin: 155px 48px 0 13px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 862px;
  }

  .u-section-1 .u-shape-1 {
    height: 585px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -525px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 742px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 731px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 568px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 95px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 709px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-shape-1 {
    height: 675px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -615px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 523px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f1c50e, #2cccc4);
}

.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-form-1 {
  height: 223px;
  margin: 19px 3px 0 0;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-style: italic;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  font-style: italic;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
  font-style: italic;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
  background-image: none;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 3px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 68px;
  min-height: 16px;
  width: 379px;
  min-width: 120px;
  margin: 19px auto 0 74px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 314px;
}

.u-section-2 .u-container-layout-3 {
  padding: 4px 0 10px;
}

.u-section-2 .u-icon-6 {
  height: 48px;
  width: 48px;
  background-image: linear-gradient(#478ac9, #72efe9);
  margin: 9px auto 0 19px;
}

.u-section-2 .u-icon-7 {
  height: 45px;
  width: 45px;
  background-image: linear-gradient(#478ac9, #db545a);
  margin: 5px auto 0 22px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: -107px 14px 0 -13px;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-2 .u-form-1 {
    width: 464px;
    margin-right: 0;
  }

  .u-section-2 .u-form-group-3 {
    width: 100%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: 119px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 347px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-2 .u-form-1 {
    width: 330px;
  }
}.u-section-3 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-3 .u-text-1 {
  margin: 28px 818px 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 54px;
  }
}.u-section-4 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  margin: 46px 624px 60px 101px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 1px;
    margin-right: 524px;
    font-weight: normal;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 678px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 60px;
}